@font-face {
    font-family: Ethnocentric;
    src: url(ethnocentric.ttf);
}

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Ethnocentric';
    font-weight: 300;
    background-color: #666;
}

:root
{
    --prim: rgba(11,39,39,0.6);
}

*{
    user-select: none;
}

canvas {
    box-shadow: 0px 0px 0px 2px #111;
}

#minimap
{
    box-shadow: none;
}

/* GUI */

.user
{
    width: 430px;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--prim);
}

.user > *{
    margin: 10px 0;
}

.user h1
{
    grid-area: name;
    margin: 0;
    font-size: 30px;
    color: white;
    font-weight: 500;

    border-bottom: solid 2px white;
}

.user-life
{
    width: calc(100% - 20px);
    left: 10px;
    background-color: rgba(203,0,8,0.2);
    border: solid 2px #E93939;
    height: 26px;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    transform: skewX(-30deg);
}

#life-bar
{
    height: 100%;
    background-color: #E93939;
    transition: 0.3s;

}

#life-info
{
    position: absolute;
    transform: skewX(30deg);
    top: 0px;
    left: 5px;
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
}

#life-info::before
{
    content: 'HP: ';
}

.user-mana
{
    width: calc(100% - 20px);
    left: 10px;
    background-color: rgba(84,239,221,0.2);
    border: solid 2px #54EFDD;
    height: 26px;
    position: relative;
    border-radius: 2px;
    transform: skewX(-30deg);
    box-sizing: border-box;
}

#mana-bar
{
    height: 100%;
    background-color: #54EFDD;
    transition: 0.3s;
}

#mana-info
{
    position: absolute;
    top: 0px;
    left: 8px;
    height: 50px;
    font-size: 14px;
    line-height: 14px;

    transform: skewX(30deg);
    padding: 5px;
    box-sizing: border-box;
    color: white;
}

#mana-info::before
{
    content: 'MANA: ';
}

.asidearea
{
    background-color: var(--prim);
    width: 220px;
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map
{
    width: 220px;
    height: 220px;
/*    background-image: url(../img/mapka.jpg);*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map h3
{
    margin: 0;
    font-size: 50px;
}

.map p
{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

.killinfo
{
    padding: 10px;
    background-color: var(--prim);
    position: fixed;
    top: 20px;
    right: 260px;
}

.killinfo h3
{
    margin: 0;
    color: #8B0000;
    text-align: center;
    font-size: 28px;
}

.killinfo p
{
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

.skillbar
{
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: var(--prim);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-reset: key-number;
}

.skill
{
    height: 75px;
    width: 75px;
    background-color: var(--prim);
    color: white;
    margin: 0 5px;
    counter-increment: key-number;
    position: relative;
    box-sizing: border-box;
}

.skill img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill::before
{
    content: counter(key-number);
    padding: 3px 3px;
    display: block;
    width: 18px;
    text-align: center;
    line-height: 18px;
    background-color: rgb(11,39,39);
    font-size: 18px;
    position: absolute;
    border-radius: 50%;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
}

.skill .counter
{
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 12px;
    z-index: 20;
}

.skill .loading
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: green;
    opacity: 0.5;
    height: 0;
}

.unactive img
{
    filter: grayscale(1);
}

.guns
{
    position: fixed;
    width: 300px;
    right: 20px;
    bottom: 20px;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    display: flex;
    padding: 10px;
    
    background-color: var(--prim);
    
}

.guns h2
{
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    align-self: flex-end;
    padding-bottom: 10px;
    margin-right: 10px;
}

.guns p
{
    margin: 0;
    margin-right: 10px;
    font-size: 22px;
    color: #888;
    align-self: flex-start;
}

.guns .image
{
    width: 120px;
    height: 120px;
    background-color: white;
    position: relative;
}

.guns .image img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.guns .image #gun-reloading-bar
{
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    background-color: #8B0000;
    opacity: 0.6;
    z-index: 20;
}
